* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {background-color: #46b8ec;}

main {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    max-height: 1000px;
    width: 750px;
    overflow: hidden;
    background-color: aquamarine;
    div {
        position: absolute;
        &#globe {
            background-color: #365c25;
            background-image: url(img/earth_orb.png);
            background-size: cover;
            border-radius: 50%;
            bottom: -700px;
            height: 1000px;
            width: 1000px;
            &.globe-spin {
                animation: globe-spin 30s linear infinite;
            }
        }
        &#character {
            background-image: url(img/placeholder-stand1.png);
            background-size: cover;
            height: 375px;
            width: 250px;
            bottom: 270px;
            &.idle-anim {
                animation: character-idle 1s infinite;
            }
            &.walk-anim{
                animation: character-walk 2.5s infinite;
            }
        }
        &#title-box {
            top: 20px;
            letter-spacing: 4px;
            color: #fff;
            text-shadow: 2px 2px rgb(255, 131, 193);
        }
        &#music-player-box {
            top: 100px;
            background-color: rgb(255, 131, 193);
            padding: 0.5em 1em;
            border-radius: 2em;
            border: 0.5em solid white;
            audio {
                opacity: 80%;
            }
        }
    }
}

@media (max-width: 750px), screen and (orientation: portrait){
    main {
        width: 100vw;
    }
}

@keyframes character-idle {
    0% {
        background-image: url(img/placeholder-stand1.png);
    }
    50% {
        background-image: url(img/placeholder-stand2.png);
    }
}

@keyframes character-walk {
    0% {
        background-image: url(img/placeholder-walk1.png);
    }
    25% {
        background-image: url(img/placeholder-walk2.png);
    }
    50% {
        background-image: url(img/placeholder-walk3.png);
    }
    75% {
        background-image: url(img/placeholder-walk4.png);
    }
    100% {
        background-image: url(img/placeholder-walk1.png);
    }
}

@keyframes globe-spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}